body {

    background-image: url("../images/swwall2.jpg");
    position: fixed;
}

header {

    width: 100%;
}

.test {
    width: 1020px;

}


.cont{
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}





