body {

    background-image: url("../images/swwall2.jpg");
    position: fixed;
}

header {

    width: 100%;
}

.test {
    width: 1020px;

}

.desc{
    position: absolute;
    top: 75%;
    left: 50%;
    right:50%;
    bottom: 5%;

    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
    width: 200px;
}